{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}

{% block content %}

  <div class="flex h-full items-center">
    <main class="w-full max-w-md mx-auto p-6">
      <div class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-gray-800 dark:border-gray-700">
        <div class="p-4 sm:p-7">
          <div class="text-center">
            <h1 class="block text-2xl font-bold">Log in</h1>
            <p class="mt-2 text-sm">Don't have an account yet? <a href="{% url 'account_signup' %}">Sign up here</a>.</p>
          </div>

            <!-- Form -->
            <form method="post" class="py-4 gap-x-3">
              {% csrf_token %}
              <div class="grid gap-y-4">
              {{ form|crispy }}
              <a class="text-sm" href="{% url 'account_reset_password' %}">Forgot password?</a>

              <button type="submit" class="w-full button-primary">Log in</button>
            </div>
              </form>
            <!-- End Form -->
          </div>
        </div>
      </div>
    </main>
  </div>


{% endblock content %}