{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign up{% endblock %}

{% block content %}

  <div class="flex h-full items-center">
    <main class="w-full max-w-md mx-auto px-6">
      <div class="mt-7 bg-white border border-gray-200 rounded-xl dark:bg-gray-800 dark:border-gray-700 drop-shadow-sm">
        <div class="p-4 sm:p-7">
          <div class="text-center">
            <h1 class="block text-2xl font-bold">Sign up</h1>
            <p class="mt-2 text-sm">Already have an account? <a class="" href="{% url 'account_login' %}">Log in here</a>.</p>
          </div>

          <div class="mt-5">
            <!-- Form -->
            <form method="post">
              <div class="grid gap-y-4">
                {% csrf_token %}
                {{ form|crispy }}

                <button type="submit" class="w-full button-primary">Sign up</button>
              </div>
            </form>
            <!-- End Form -->
          </div>
        </div>
      </div>
    </main>
  </div>

{% endblock %}