{% extends '_base.html' %}



{% block content %}
<div class="max-w-3xl mx-auto">
<div class="prose-base mx-auto ">
  <h1>{% block title %}About UX Lift{% endblock %}</h1>
  <p class="text-xl">{% block description %}UX Lift is a curated collection of UX articles, tools and resources with the goal of covering evey aspect of the UX and design process.{% endblock %}</p>

  <p>I first built the site as a way to make sense of the various links I'd collected, but as the site came together, I realised it could be useful to both to new and experienced designers. While there are loads of good resources out there, I hadn’t found anywhere that attempted to collect everything together in one place.</p>
  <p>My goal is to make UX Lift the best possible resource for everything UX and design-related on the web, and I hope you’ll find it useful.</p>
  <p>– Matt Kevan, Manchester, England.
  <hr>
  <h3>Submit content</h3>
  <p>Have you found a useful UX resource, article, book or tool? Have you written or made something great? If so, I’d love to hear from you. Please send your submissions to hello@uxlift.org with a quick explanation as to why it should be featured.</p>
  <hr>
  <h3>Support UX Lift</h3>
  <p>This site takes time, money and effort to keep running. I update it regularly, and there are over now over five thousand articles, tools, links, resources and more. If you’d like to help make UX Lift a sustainable project and keep it online, here’s what you can do:</p>
  
  <ul>
    <li>Send me content. See the guidelines above.</li>
    <li>Subscribe to the newsletter – and encourage your friends and colleagues to subscribe too.</li>
    <li>Share UX Lift with your friends and colleagues – this site has grown entirely by word of mouth, so a Twitter mention or blog link would mean a lot.</li>
    <li>Buy me a coffee.</li>
  </ul>

  <h4>Colophon</h4>
  <p>This site is built with Django, stored in Github and hosted by PythonAnywhere. The fonts are Plex and Gentium.</p>
</div>
</div>
  
{% endblock content %}