{% extends '_base.html' %}
{% load static %}


{% block content %}

<h1 class="page-title">{% block title %}UX Lift{% endblock title %}
</h1>
<p class="description">{% block description %} A collection of the best articles, resources, books and tools, covering every aspect of the UX and design process.{% endblock description %}</p>

<hr>
<h2 class="section-title">Latest news</h2>
<div class="grid gap-6">
    {% for post in recent_posts %}
    <div class="pb-6 border-b border-gray-200">
        <h3 class="mb-1"><a href="{{ post.link }}">{{ post.title }}</a></h3>
        <div class="flex items-center">
          {% if post.site.site_icon %}
          <img class="inline-block flex-shrink-0 h-6 w-6" src="{{ post.site.site_icon.url }}" alt="{{ post.site }}">
        {% endif %}
        <div class="ms-2">
          <p class="text-sm font-mono">{{ post.site }}{% if post.date_published %} – {{ post.date_published }}{% endif %}</p>
        </div>
        
      </div>
    </div>

    {% endfor %}
    <a href="/news">See more articles »</a>
    </div>
    <hr>
    <h2 class="section-title">Explore topics</h2>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
      {% for tag in tags %}
        {% include 'content/partials/tag-card.html' %}
      {% endfor %}
    </div>
    <hr>
    <h2 class="section-title">Latest tools</h2>


{% endblock content %}
