
{% extends '_base.html' %}
{% load static %}
{% block content %}

<h1 class="page-title">{% block title %}Topics{% endblock title %}</h1>
<p class="description">Concepts related to user experience design and usability.</p>

<hr>

<h2 class="section-title">Explore topics</h2>

<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
  {% for tag in tags %}
    {% include 'content/partials/tag-card.html' %}
  {% endfor %}
</div>

<hr>

<h2 class="section-title">Latest articles</h2>


{% endblock %}