<div class="py-8 first:pt-0 last:pb-0" id="post-item-{{ post.id }}">
          <div class="flex gap-x-5"><div>
              <h3 class="font-bold text-blue-700 text-xl mb-4 dark:text-blue-400">
                <a href="{{ post.link }}" target="_blank">{{ post.title }}</a>

              </h3>

              <div class="flex-shrink-0 group block my-2">
                <div class="flex items-center">
                  {% if post.site.site_icon %}
                    <img class="inline-block flex-shrink-0 h-6 w-6" src="{{ post.site.site_icon.url }}" alt="{{ post.site }}">
                  {% endif %}
                  <div class="ms-3">
                    <p class="text-gray-800 dark:text-gray-400 text-sm">{{ post.site }}{% if post.date_published %} – {{ post.date_published }}{% endif %}</p>
                  </div>
                </div>
              </div>
            
              <p class="mt-1 text-gray-500 dark:text-gray-400">
                {{ post.summary }}
              </p>
                
                
                <div class="mt-4">
                  {% for topic in post.topics.all %}
                  {% include 'content/components/tag.html' %}

                  {% endfor%}
                  {% for tag in post.tags.all %}
                  {% include 'content/components/tag.html' %}

                  {% endfor%}
                </div>
                <a href="{% url 'post_edit' post.id %}">Edit Post</a>


          
     
            </div>
          </div>
        </div>