<a href="{{ tool.link }}" target="_blank" class="hover:no-underline">
 <!-- <a href="{% url 'tool_page' tool_slug=tool.slug %}" class="hover:no-underline">-->

  <div class="group flex flex-col p-4 md:p-5 bg-white border shadow-md rounded-lg hover:shadow-lg transition dark:bg-slate-900 dark:border-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 h-full">
    <div class="sm:flex sm:justify-between sm:gap-4">
      <div>
        <img alt="{{ tool.title }}" src="{{ tool.image.url }}" class="w-[70px] float-right ml-3" />

        <h3 class="text-blue-600 text-lg hover:underline mb-3">{{ tool.title }}</h3>
        <p class="text-gray-800 dark:text-gray-300 hover:no-underline">{{ tool.description }}</p>
    
      </div>

    </div>
    <div class="mt-4">
      {% for tag in tool.topics.all %}
        {% include 'content/components/tag.html' %}
      {% endfor%}
    </div>
  </div>
</a>
  <!-- /tool card -->