
{% extends '_base.html' %}
{% load static %}
{% block title %}Topics{% endblock title %}
{% block content %}

<h1 class="page-title">{{ tag.name }}</h1>
{% if tag.description %}<p class="description">{{ tag.description }}</p>{% endif %}

<hr>

<h2 class="section-title">Articles</h2>

{% if posts%}
	<div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
		{% for post in posts %}
	  		{% include "components/post-card.html" %}
		{% endfor %}
  	</div>
	<div class="grid place-content-center">
	  {% include "components/paginator.html" %}
		<div>
{% endif %}

{% if tools%}
	<hr>
	<h2 class="section-title">Tools</h2>
	<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grids-col-3 xl:grid-cols-3 gap-3 sm:gap-6">
		{% for tool in tools %}
			{% include 'content/partials/tool-card.html' %}
		{% endfor %}
	</div>	
{% endif %}
<hr>
{% endblock %}
