
{% extends '_base.html' %}
{% load static %}
{% block title %}Topics{% endblock title %}
{% block content %}

<h1 class="page-title">{{ topic.name }}</h1>
{% if topic.description %}<p class="description">{{ topic.description }}</p>{% endif %}

<hr>

<h2 class="section-title">Articles</h2>

{% if posts%}
	<div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
		{% for post in posts %}
		<div class="group gap-2 flex flex-col p-4 md:p-5 bg-white border shadow-md rounded-lg hover:shadow-lg transition dark:bg-slate-900 dark:border-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 h-full" id="post-{{ post.id }}">

	  		{% include "common/post-list.html" %}
		</div>
		{% endfor %}
  	</div>
	<div class="grid place-content-center">
	  {% include "common/paginator.html" %}
		<div>
{% endif %}

{% if tools%}
	<hr>
	<h2 class="section-title">Tools</h2>
	<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grids-col-3 xl:grid-cols-3 gap-3 sm:gap-6">
		{% for tool in tools %}
			{% include 'content/partials/tool-card.html' %}
		{% endfor %}
	</div>	
{% endif %}
<hr>
{% endblock %}
