
{% extends '_base.html' %}
{% load static %}
{% block title %}Topics{% endblock title %}
{% block content %}
<div class="pb-24 sm:pb-32">
  <div class="mx-auto max-w-7xl">
      <h1 class="mt-2 text-4xl font-bold text-gray-900 sm:text-6xl">Topics</h1>
      <p class="mt-6 text-lg leading-8 text-gray-600">Concepts related to user experience design and usability.</p>
  </div>
</div>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grids-col-4 xl:grid-cols-4 gap-3 sm:gap-6">
    {% for tag in tags %}

     {% include 'content/partials/tag-card.html' %}
    <!-- End Card -->
    

{% endfor %}
</div>
{% endblock %}