<div class="flex flex-col gap-3" id="post-{{ post.id }}">

    <h3><a href="{{ post.link }}" target="_blank">{{ post.title }}</a></h3>
    
    <div class="flex items-center">
        {% if post.site.site_icon %}
            <img class="inline-block flex-shrink-0 h-5 w-5 rounded" src="{{ post.site.site_icon.url }}" alt="{{ post.site }}">
        {% endif %}

        <div class="ms-2">
            <p class="text-xs font-mono dark:text-gray-400">
                {% if post.site %} 
                    {{ post.site }}
                {%endif%}
                {% if post.date_published %}
                    -  {{ post.date_published | date:"j F Y"}}
                {% endif %}
            </p>
        </div>
    
    </div>
    {% if post.description %}
        <p>{{ post.description | truncatewords:20 }}</p>
    {% endif %}

    {% if post.topics.all %}
    <div>
        {% for tag in post.topics.all %}
            {% include 'content/components/tag.html' %}
        {% endfor%}
    </div>
    {% endif %}
    
    <div class="flex flex-row gap-4">
        {% if user.is_authenticated and perms.content.change_post %}
            <button 
                hx-get="{% url 'post_edit' post.id %}" 
                hx-target="#post-edit-modal .modal-body" 
                hx-include="[name='post-list.html']"
                hx-toggle="modal" 
                hx-trigger="click" 
                data-hs-overlay="#post-edit-modal"
                class="text-xs"
            >
            Edit
            </button>
            <form action="{% url 'unpublish_post' post.id %}" method="post" hx-post="{% url 'unpublish_post' post.id %}" hx-target="#post-{{ post.id }}" hx-confirm="Are you sure you want to unpublish this post?">
                {% csrf_token %}
                <button 
                    type="submit"
                    class="text-xs"
                    >
                    Unpublish</button>
            </form>
        {% endif %}

    </div>


</div>

