
<div class="group gap-2 flex flex-col p-4 md:p-5 bg-white border shadow-md rounded-lg hover:shadow-lg transition dark:bg-slate-900 dark:border-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 h-full" id="post-{{ post.id }}">

    <h3 class="mb-1"><a href="{{ post.link }}" target="_blank">{{ post.title }}</a></h3>
    
    <div class="flex items-center">
        {% if post.site.site_icon %}
            <img class="inline-block flex-shrink-0 h-5 w-5" src="{{ post.site.site_icon.url }}" alt="{{ post.site }}">
        {% endif %}
        <div class="ms-2">
            <p class="text-xs font-mono dark:text-gray-400">
                {% if post.site %} 
                    {{ post.site }}
                {%endif%}
                {% if post.date_published %}
                    -  {{ post.date_published | date:"j F Y" }}
                {% endif %}
            </p>
        </div>
    
    </div>
    <p>{{ post.description | truncatewords:20 }}</p>
    {% if user.is_authenticated and perms.content.change_post %}

    <div x-data="{ slideOverOpen: false }" @hx:end="if (event.detail.xhr.status === 200) slideOverOpen = false" class="relative z-50 w-auto h-auto">
        <button @click="slideOverOpen=true" 
                hx-get="{% url 'post_edit' post.id %}" 
                hx-target="#modal-content-{{ post.id }}"
                hx-swap="outerHTML" 
                class="mt-4 inline-flex items-center justify-center px-2 py-1 text-xs font-medium transition-colors bg-white border rounded-md hover:bg-neutral-100 active:bg-white focus:bg-white focus:outline-none focus:ring-2 focus:ring-neutral-200/60 focus:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none">
                Edit
        </button>
        <template x-teleport="body">
            <div x-show="slideOverOpen" @keydown.window.escape="slideOverOpen=false" class="relative z-[99]">
                <div x-show="slideOverOpen" x-transition.opacity.duration.600ms @click="slideOverOpen = false" class="fixed inset-0 bg-black bg-opacity-10">
                </div>    
                <div class="fixed inset-0 overflow-hidden">
                    <div class="absolute inset-0 overflow-hidden">
                        <div class="fixed inset-y-0 right-0 flex max-w-full pl-10">
                            <div 
                                x-show="slideOverOpen" 
                                x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700" 
                                x-transition:enter-start="translate-x-full" 
                                x-transition:enter-end="translate-x-0" 
                                x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700" 
                                x-transition:leave-start="translate-x-0" 
                                x-transition:leave-end="translate-x-full" 
                                class="w-screen max-w-md">
                                <div class="flex flex-col h-full py-5 overflow-y-scroll bg-white border-l shadow-lg border-neutral-100/70">
                                    <div class="px-4 sm:px-5">
                                        <div class="flex items-start justify-between pb-1">
                                            <h2 class="text-base font-semibold leading-6 text-gray-900" id="slide-over-title">Edit post</h2>
                                            
                                            <div class="flex items-center h-auto ml-3">
                                                <button @click="slideOverOpen=false" class="absolute top-0 right-0 z-30 flex items-center justify-center px-3 py-2 mt-4 mr-5 space-x-1 text-xs font-medium uppercase border rounded-md border-neutral-200 text-neutral-600 hover:bg-neutral-100">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path></svg>
                                                    <span>Close</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="relative flex-1 px-4 mt-5 sm:px-5">
                                        <div class="absolute inset-0 px-4 sm:px-5">
                                            <div class="relative h-full overflow-y-auto overflow-hidden border-neutral-300" id="modal-content-{{post.id}}">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
    {% endif %}

</div>

